@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@plugin "@iconify/tailwind4";

@theme {
  --color-blue-50: oklch(0.952 0.032 216.12);
  --color-blue-100: oklch(0.911 0.059 217.86);
  --color-blue-200: oklch(0.829 0.11 219.39);
  --color-blue-300: oklch(0.794 0.129 221.21);
  --color-blue-400: oklch(0.758 0.141 225.4);
  --color-blue-500: oklch(0.65 0.128 226.31);
  --color-blue-600: oklch(0.578 0.109 226.24);
  --color-blue-700: oklch(0.469 0.087 225.04);
  --color-blue-800: oklch(0.349 0.064 224.39);
  --color-blue-900: oklch(0.234 0.041 222.75);
  --color-blue-950: oklch(0.156 0.025 214.86);
  --color-orange-50: oklch(0.969 0.028 79.47);
  --color-orange-100: oklch(0.943 0.051 78.73);
  --color-orange-200: oklch(0.888 0.099 77.24);
  --color-orange-300: oklch(0.843 0.136 75.16);
  --color-orange-400: oklch(0.803 0.162 70.97);
  --color-orange-500: oklch(0.72 0.171 64.6);
  --color-orange-600: oklch(0.644 0.144 65.67);
  --color-orange-700: oklch(0.519 0.115 66.58);
  --color-orange-800: oklch(0.387 0.085 68.34);
  --color-orange-900: oklch(0.259 0.055 74.43);
  --color-orange-950: oklch(0.179 0.037 79.01);
  --color-gray-50: #f2f2f2;
  --color-gray-100: #e6e6e6;
  --color-gray-200: #cccccc;
  --color-gray-300: #b3b3b3;
  --color-gray-400: #999999;
  --color-gray-500: #7d7d7d;
  --color-gray-600: #636363;
  --color-gray-700: #4a4a4a;
  --color-gray-800: #303030;
  --color-gray-900: #171717;
  --color-gray-950: oklch(0.145 0 0);
}

:root {
  --font-sans: "Lexend Variable";
  --font-heading: "Dancing Script Variable";
  --background: var(--color-white);
  --foreground: var(--color-gray-950);
  --card: var(--color-white);
  --card-foreground: var(--color-gray-950);
  --popover: var(--color-white);
  --popover-foreground: var(--color-gray-950);
  --primary: var(--color-blue-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-orange-500);
  --secondary-foreground: var(--color-white);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: var(--color-orange-200);
  --accent-foreground: var(--color-gray-950);
  --destructive: var(--color-red-200);
  --destructive-foreground: var(--color-red-600);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: var(--color-blue-500);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: var(--color-gray-950);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --shadow-header:
    0 0 24px rgba(34, 42, 53, 0.06),
    0 1px 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(34, 42, 53, 0.04),
    0 0 4px rgba(34, 42, 53, 0.08), 0 16px 68px rgba(47, 48, 55, 0.05),
    0 1px 0 rgba(255, 255, 255, 0.1) inset;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
}
